defaults: &defaults
  site_name: GDZLLA
  twitter_down: false
  flickr_down: false

development:
  <<: *defaults
  twitter_consumer_key:
  twitter_consumer_secret:
  twitter_oauth_token:
  twitter_oauth_token_secret:
  twitter_username:

test:
  <<: *defaults
  twitter_consumer_key:
  twitter_consumer_secret:
  twitter_oauth_token:
  twitter_oauth_token_secret:
  twitter_username:

production:
  <<: *defaults
  twitter_consumer_key: <%= ENV['TWITTER_CONSUMER_KEY'] %>
  twitter_consumer_secret: <%= ENV['TWITTER_CONSUMER_SECRET'] %>
  twitter_oauth_token: <%= ENV['TWITTER_OAUTH_KEY'] %>
  twitter_oauth_token_secret: <%= ENV['TWITTER_OAUTH_SECRET'] %>
  twitter_username: <%= ENV['TWITTER_USERNAME'] %>
  twitter_down: <%= ENV['TWITTER_DOWN'] %>
  flickr_down: <%= ENV['FLICKR_DOWN'] %>

