<% content_for :title, "Set up your device" %>
<% content_for :extra_class, "one-col"%>

<div id="three">
  <p>Last, add this url to your App's settings as an "Image Service API Endpoint" and you're all set!</p>
  <h2>https://gdzl.la/go</h2>
  <p>If you're using Tweetbot (or the first one doesn't work for some reason)</p>
  <h2 style="font-size: 22px;">https://gdzl.la/go/2.json</h2>
</div>
